@model MenuBarViewModel


<nav id="navBar" class="navbar navbar-fixed-top navbar-default" style="height:50px">
    <div class="navbar-default col-md-12 lrPaddingOverride" style="padding-left: 0px; padding-right: 0px;">
        <div class="container-fluid">
            <div>
                <a class="navbar-brand" asp-controller="Training" asp-action="TodaysTrainings">EllösOldBoys</a>
            </div>
            <div class="pull-right">
                <table>
                    <tr>
                        <td><a class="btn-link pull-right" >@Model.Email</a></td>
                    </tr>
                    <tr>
                        <td><a class="glyphicon glyphicon-log-out pull-right" asp-controller="Account" asp-action="Logout">LoggaUt</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div align="right">
            <div class="table-responsive borderOverride">
                <table style="margin: 0px auto;">
                    <tr>
                        <th>
                            <a id="myAccount" class="btn btn-primary navbar-btn lrMargin5px">Mitt konto</a>
                        </th>
                        <th>
                            <a id="allTrainings" class="btn btn-primary navbar-btn lrMargin5px">Alla träningar</a>
                        </th>
                        <th>
                            <a id="todays-trainings" class="btn btn-primary navbar-btn lrMargin5px" 
                               data-html-target="#main_content"
                               data-url="/api/training/todaysTrainings"
                               data-action-type="add">Dagens träningar</a>
                        </th>
                        <th>
                            @if (Model.IsAdmin)
                            {
                                <a class="btn btn-primary navbar-btn lrMargin5px" asp-controller="Training" asp-action="Create">Skapa träning</a>
                            }
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</nav>