@model MenuBarViewModel


<div>
    <table style="width: 20%; margin: 0px auto; ">
        <tr>
            <th>
                <form method="get" asp-action="MyAccount" asp-controller="Account">
                    <input class="btn btn-default" type="submit"  value="Mitt konto" />
                </form>
            </th>
            <th>
                <form method="get" asp-action="GetAllTrainings" asp-controller="Training">
                    <input class="btn btn-default"  type="submit"  value="Alla träningnar" />
                </form>
            </th>
            <th>
                @if (Model.IsAdmin)
                {
                    <form method="get" asp-controller="Training" asp-action="Create">
                        <input class="btn btn-default"  type="submit" value="Skapa träning" />
                    </form>
                }

            </th>
        </tr>
    </table>



</div>
