@model MenuBarViewModel


<nav id="navBar" class="navbar navbar-inverse navbar-fixed-top" style="height: 50px">
    <div class="navbar-inverse col-md-12 lrPaddingOverride" style="padding-left: 0px; padding-right: 0px;">
        <div class="container-fluid">
            <div>
                <a id="logo" class="navbar-brand cursor-pointer"
                   data-html-target="#main-content"
                   data-url="/api/training/todaysTrainings"
                   data-action-type="add">
                    EllösOldBoys
                </a>
            </div>
            <div class="pull-right">
                <table>
                    <tr>
                        <td>
                            <a id="email" class="btn-link pull-right cursor-pointer"
                               data-html-target="#main-content"
                               data-url="/api/account/myAccount"
                               data-action-type="add">
                                @Model.Email</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="glyphicon glyphicon-log-out pull-right" asp-controller="Account" asp-action="Logout">LoggaUt</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div align="right">
            <div class="table-responsive borderOverride">
                <table style="margin: 0px auto;">
                    <tr>
                        <th>
                            <a id="my-account-btn" class="btn btn-primary navbar-btn lrMargin5px"
                               data-html-target="#main-content"
                               data-url="/api/account/myAccount"
                               data-action-type="add">
                                Mitt konto
                            </a>
                        </th>
                        <th>
                            <a id="all-trainings-btn" class="btn btn-primary navbar-btn lrMargin5px"
                               data-html-target="#main-content"
                               data-url="/api/training/getAllTranings"
                               data-action-type="add-toggle-training">
                                Alla träningar
                            </a>
                        </th>
                        <th>
                            <a id="todays-trainings-btn" class="btn btn-primary navbar-btn lrMargin5px btn-pressed"
                               data-html-target="#main-content"
                               data-url="/api/training/todaysTrainings"
                               data-action-type="add">
                                Dagens träningar
                            </a>
                        </th>
                        <th>
                            @if (Model.IsAdmin)
                            {
                                <a id="create-training-btn" class="btn btn-primary navbar-btn lrMargin5px"
                                   data-html-target="#main-content"
                                   data-url="/api/training/createTraining"
                                   data-action-type="add">
                                    Skapa träning
                                </a>
                            }
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</nav>