@model MenuBarViewModel


<nav id="navBar" class="navbar navbar-fixed-top navbar-default" style="height:50px">
    <div class="navbar-default col-md-12 lrPaddingOverride" style="padding-left: 0px; padding-right: 0px;">
        <div class="container-fluid">
            <div>
                <a class="navbar-brand" asp-controller="Training" asp-action="TodaysTrainings">EllösOldBoys</a>
            </div>
            <div class="pull-right">
                <table>
                    <tr>
                        <td><a class="btn-link pull-right" asp-controller="Account" asp-action="MyAccount">@Model.Email</a></td>
                    </tr>
                    <tr>
                        <td><a class="glyphicon glyphicon-log-out pull-right" asp-controller="Account" asp-action="Logout">LoggaUt</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div align="right">
            <div class="table-responsive borderOverride">
                <table style="margin: 0px auto;">
                    <tr>
                        <th>
                            <form method="get" asp-action="MyAccount" asp-controller="Account">
                                <input class="btn btn-primary navbar-btn lrMargin5px" type="submit" value="Mitt konto" />
                            </form>
                        </th>
                        <th>
                            <form method="get" asp-action="GetAllTrainings" asp-controller="Training">
                                <input class="btn btn-primary navbar-btn lrMargin5px" type="submit" value="Alla träningar" />
                            </form>
                        </th>
                        <th>
                            <form method="get" asp-action="TodaysTrainings" asp-controller="Training">

                                <input class="btn btn-primary navbar-btn lrMargin5px" type="submit" value="Dagens träningar" />
                            </form>
                        </th>
                        <th>
                            @if (Model.IsAdmin)
                            {
                                <form method="get" asp-controller="Training" asp-action="Create">
                                    <input class="btn btn-primary navbar-btn lrMargin5px" type="submit" value="Skapa träning" />
                                </form>
                            }
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</nav>