@model TrainingsViewModel

@{
    ViewBag.Title = "title";
}
<div id="all-trainings">
    @foreach (var trainingSummaryViewModel in Model.TrainingsSummaryViewModels)
    {
        <div id="training_summary_@trainingSummaryViewModel.TrainingId">
            @Html.Partial("_TrainingSummary", trainingSummaryViewModel)
        </div>
    }
</div>