@model TrainingsViewModel

@{
    ViewBag.Title = "title";

}
@foreach (var trainingSummaryViewModel in Model.TrainingsSummaryViewModels)
{
    <div id="training_summary_@trainingSummaryViewModel.Id">
    @Html.Partial("_TrainingSummary", trainingSummaryViewModel)
    </div>
}
