@model EditTrainingViewModel


<div class="panel panel-default panelTopMargin100">
    <div class="panel-heading">
        <h2 id="tableTitle">Ändra träning</h2>
    </div>
    <div class="panel-body">
        <form id="form-@Model.TrainingId" class="form-horizontal" asp-antiforgery="true">
            <input type="hidden" asp-for="TrainingId" />
            <div class="form-group">
                <label class="control-label col-sm-1" for="location-input" asp-for="Location"></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="location-input" asp-for="Location">
                    <span class="text-danger" asp-validation-for="Location"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="starttime-input" asp-for="StartTime"></label>
                <div class="col-sm-6">
                    <input class="form-control" id="starttime-input" asp-for="StartTime">
                    <span class="text-danger" asp-validation-for="StartTime"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="endtime-input" asp-for="EndTime"></label>
                <div class="col-sm-6">
                    <input class="form-control" id="endtime-input" asp-for="EndTime">
                    <span class="text-danger" asp-validation-for="EndTime"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="date-input" asp-for="Date"></label>
                <div class="col-sm-6">
                    <input class="form-control" id="date-input" asp-for="Date" />
                    <span class="text-danger" asp-validation-for="Date"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="info-input" asp-for="Info"></label>
                <div class="col-sm-6">
                    <textarea rows="4" cols="50" type="text" class="form-control" id="info-input" asp-for="Info"></textarea>
                    <span class="text-danger" asp-validation-for="Info"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-1 col-sm-4">
                    <a id="post-edit-training-@Model.TrainingId" class="btn btn-default post-edit-training"
                       data-form="#form-@Model.TrainingId"
                       data-html-target="#training_summary_@Model.TrainingId"
                       data-url="/api/training/editTraining"
                       data-action-type="addSmooth">
                        Spara
                    </a>
                    <a id="reset-form-@Model.TrainingId" class="btn btn-default reset-edit-training-form"
                       data-html-target="#training_summary_@Model.TrainingId"
                       data-method="GET"
                       data-url="/api/training/getTraining"
                       data-action-type="addSmooth"
                       data-model='{"trainingId":"@Model.TrainingId"}'>
                        Avbryt
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer"></div>
</div>