@using Microsoft.CodeAnalysis.CSharp.Syntax
@model EditUserViewModel




<div id="my-account" class="panel panel-success panelTopMargin100">
    <div class="panel-heading">
        <h2>@Model.Firstname @Model.Lastname</h2>
    </div>

    <form id="edit-account-form">
        <div class="panel-body">
            <div class="row">
                <div class=" col-sm-6">
                    <div asp-validation-summary="ModelOnly"></div>
                    <table class="table-responsive" id="table-override" style="border-right:1px solid black">
                        <tbody>
                            <tr>
                                <td>
                                    <label class="control-label" asp-for="SocialSecurityNumber"></label>
                                </td>
                                <td>
                                    <input asp-for="SocialSecurityNumber" class="lineInput" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <span class="text-danger" asp-validation-for="SocialSecurityNumber"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label" asp-for="Firstname"></label>
                                </td>
                                <td>
                                    <input asp-for="Firstname" class="lineInput" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <span class="text-danger" asp-validation-for="Firstname"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label" asp-for="Lastname"></label>
                                </td>
                                <td>
                                    <input asp-for="Lastname" class="lineInput" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <span class="text-danger" asp-validation-for="Lastname"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label" asp-for="Street"></label>
                                </td>
                                <td>
                                    <input asp-for="Street" class="lineInput" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <span class="text-danger" asp-validation-for="Street"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label" asp-for="ZipCode"></label>
                                </td>
                                <td>
                                    <input asp-for="ZipCode" class="lineInput" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <span class="text-danger" asp-validation-for="ZipCode"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label" asp-for="City"></label>
                                </td>
                                <td>
                                    <input asp-for="City" class="lineInput" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <span class="text-danger" asp-validation-for="City"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label" asp-for="Email"></label>
                                </td>
                                <td>
                                    <input asp-for="Email" class="lineInput" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <span class="text-danger" asp-validation-for="Email"></span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <hr class="buttom-margin" />
                                </td>
                            </tr>
                            @if (Model.PasswordValidationState == null)
                            {
                                <tr>
                                    <td>
                                        <a id="change-password-btn" class="btn btn-default btn-xs pull-left">
                                            Ändra lösenord
                                            <span class="glyphicon glyphicon-lock"></span>
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                        <tbody id="change-password-tbody" style="display:@(Model.PasswordValidationState==null?"none":"")">
                            <tr>
                                <td>
                                    <label class="control-label password-label" asp-for="Password"></label>
                                </td>
                                <td>
                                    <input asp-for="Password" class="lineInput" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <span class="text-danger" asp-validation-for="Password"></span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label class="control-label password-label" asp-for="ConfirmPassword"></label>
                                </td>
                                <td>
                                    <input asp-for="ConfirmPassword" class="lineInput" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-12">

                    <a id="edit-account-post" class="btn btn-success"
                       data-form="#edit-account-form"
                       data-html-target="#main-content"
                       data-url="/api/account/edit"
                       data-action-type="add">
                        Spara
                    </a>
                    <a id="cancel-account-post-btn" class="btn btn-success pull-right"
                       data-html-target="#main-content"
                       data-url="/api/account/myAccount"
                       data-action-type="add">
                        Avbryt
                    </a>
                </div>
            </div>
        </div>

    </form>
</div>
