#headLine {
    font-family: monospace;
    font-size: 60px;
    padding-top: 50px;
    padding-bottom: 70px;
}

#headlLineForm {
    font-family: monospace;
}

#loginBtn {
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    min-height: 25px;
    max-height: 125px;
    width: 206px;
}

#navBar {
    height: 50px;
}

.lrMargin5px {
    margin-left: 5px;
    margin-right: 5px;
}

.lineInput {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

.panelTopMargin100 {
    margin-top: 100px;
}

.lrPaddingOverride {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.borderOverride {
    border: none;
}

@media only screen and (max-width: 480px) {
    #tableTitle {
        padding-left: 0px;
    }
    #table-override {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: none;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    #tableTitle {
        padding-left: 0px;
    }
    #table-override {
        width: 100% ;
        margin-bottom: 75px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    #tableTitle {
        padding-left: 0px;
    }

    #table-override {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: none;
    }
}

@media only screen and (min-width: 959px) {
    #tableTitle {
        padding-left: 17px;
    }

    #table-override {
        width: 100% !important;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: none;
    }
}

.contentSpacingTop {
    padding-top: 100px !important;
}

.size {
    min-width: 300px !important;
    max-width: 300px !important;
    margin: auto;
}

#footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
