@using FloorBallOldBoysWEB.ViewModels
@model HomePageViewModel

@{
    ViewBag.Title = "title";

}

<h2>Dagens träningar</h2>
@if (!Model.TodaysTranings.Any())
{
    <div>
        Ingen träning idag
    </div>
}
else
{
    foreach (var traning in Model.TodaysTranings)
    {
        @Html.Partial("_TraningSummary", traning)

    }
}