@model EditUserViewModel

@{
    ViewBag.Title = "Edit";
}


<div class="panel panel-info panelTopMargin100">
    <div class="panel-heading">
        <h2>@Model.Firstname @Model.Lastname</h2>
    </div>


    <div class="panel-body">
        <div class="row">
            <div class=" col-sm-6 col-sm-6">
                <form method="post">
                    <table class="table-responsive" id="table-override">
                        <tbody>
                            <tr><td><label class="control-label" asp-for="SocialSecurityNumber"></label></td><td><input asp-for="SocialSecurityNumber" class="lineInput" /></td></tr>
                            <tr><td><label class="control-label" asp-for="Firstname"></label></td><td><input asp-for="Firstname" class="lineInput" /></td></tr>
                            <tr><td><label class="control-label" asp-for="Lastname"></label></td><td><input asp-for="Lastname" class="lineInput" /></td></tr>
                            <tr><td><label class="control-label" asp-for="Street"></label></td><td><input asp-for="Street" class="lineInput" /></td></tr>
                            <tr><td><label class="control-label" asp-for="ZipCode"></label></td><td><input asp-for="ZipCode" class="lineInput" /></td></tr>
                            <tr><td><label class="control-label" asp-for="City"></label></td><td><input asp-for="City" class="lineInput" /></td></tr>
                            <tr><td><label class="control-label" asp-for="Email"></label></td><td><input asp-for="Email" class="lineInput" /></td></tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-info" asp-controller="Account" asp-action="Edit">Spara</a>
    </div>

</div>
