@model EditUserViewModel

@{
    ViewBag.Title = "Edit";
}


<div class="panel panel-info panelTopMargin100">
    <div class="panel-heading">
        <h2>@Model.Firstname @Model.Lastname</h2>
    </div>
    <div class="panel-body">
        <form method="post" asp-action="Edit" asp-antiforgery="true">
            <div>
                <label>Email:</label>
                <input class="lineInput" asp-for="Email"/>
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label>Lösenord:</label>
                <input class="lineInput" asp-for="Password"/>
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <label>Bekräfta lösenord</label>
                <input class="lineInput" asp-for="ConfirmPassword"/>
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <div>
                <label>Förnamn:</label>
                <input class="lineInput" asp-for="Firstname"/>
                <span asp-validation-for="Firstname"></span>
            </div>
            <div>
                <label>Efternamn:</label>
                <input class="lineInput" asp-for="Lastname"/>
                <span asp-validation-for="Lastname"></span>
            </div>
            <div>
                <label>Personnummer:</label>
                <input class="lineInput" asp-for="SocialSecurityNumber"/>
                <span asp-validation-for="SocialSecurityNumber"></span>
            </div>
            <div>
                <label>Ort:</label>
                <input class="lineInput" asp-for="City"/>
                <span asp-validation-for="City"></span>
            </div>
            <div>
                <label>Address:</label>
                <input class="lineInput" asp-for="Street"/>
                <span asp-validation-for="Street"></span>
            </div>
            <div>
                <label>Postnummer:</label>
                <input class="lineInput" asp-for="ZipCode"/>
                <span asp-validation-for="ZipCode"></span>
            </div>
            <div>
                <input class="btn btn-info" type="submit" value="Spara" />
            </div>
        </form>
    </div>
</div>