@model RegisterUserViewModel

@{
    ViewBag.HideNavBar = true;
    ViewBag.ContentSpacingTop = true;
    ViewBag.CenterFooter = true;
}


<div class="container container-fluid col-sm-12 text-center">
    <div>
        <h1 id="headLine">Ellös Oldboys</h1>
    </div>
    <section class="panel panel-default" style="margin: auto; width: 300px;">
        <div>
            <h2 id="headlLineForm">Skapa konto</h2>
        </div>

        <div asp-validation-summary="ModelOnly"></div>
        <form method="post" asp-antiforgery="true" asp-controller="Account" asp-action="Register">
            <div asp-validation-summary="ModelOnly"></div>
            
            <div class="text-danger">
                <span asp-validation-for="Firstname"></span><br/>
                <span asp-validation-for="Lastname"></span><br/>
                <span asp-validation-for="SocialSecurityNumber"></span>
            </div>
            <div class="panel-body">
                <div class="input-lg">
                    <input asp-for="Firstname" placeholder="Förnamn"/>
                </div>
                <div class="input-lg">
                    <input asp-for="Lastname" placeholder="Efternamn"/>
                </div>
                <div class="input-lg">
                    <input asp-for="SocialSecurityNumber" placeholder="Personnummer"/>
                </div>
            </div>
            <div class="text-danger">
                <span asp-validation-for="City"></span><br/>
                <span asp-validation-for="Street"></span><br/>
                <span asp-validation-for="ZipCode"></span>
            </div>
            <div class="panel-body">
                <div class="input-lg">
                    <input asp-for="City" placeholder="Ort"/>
                </div>
                <div class="input-lg">
                    <input asp-for="Street" placeholder="Gatuaddress"/>
                </div>
                <div class="input-lg">
                    <input asp-for="ZipCode" placeholder="Postnummer"/>
                </div>
            </div>
            <div class="text-danger">
                <span asp-validation-for="Email"></span><br />
                <span asp-validation-for="Password"></span>
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="panel-body">
                <div class="input-lg">
                    <input asp-for="Email" placeholder="Email" />

                </div>
                <div class="input-lg">

                    <input asp-for="Password" placeholder="Lösenord" />
                </div>
                <div class="input-lg">
                    <input asp-for="ConfirmPassword" placeholder="Bekräfta lösenord" />
                </div>
            </div>
            <div id="loginBtn">
                <input class="btn btn-success btn-block" type="submit" value="Spara"/>
                <a asp-controller="Account" asp-action="Login">Tillbaka</a>
            </div>
        </form>
    </section>
</div>