@model CreateTrainingViewModel
@{
    ViewBag.Title = "Skapa träning";
}


<div class="panel-heading">
    <h2 id="tableTitle">Skapa träning</h2>
</div>

<div class="panel-body">
    <form class="form-horizontal" metod="post" asp-antiforgery="true">
        <div class="form-group">
            <label class="control-label col-sm-1" for="location-input" asp-for="Location"></label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="location-input" placeholder="Plats" asp-for="Location">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" for="starttime-input" asp-for="StartTime"></label>
            <div class="col-sm-4">
                <input class="form-control" id="starttime-input" asp-for="StartTime">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" for="endtime-input" asp-for="EndTime"></label>
            <div class="col-sm-4">
                <input class="form-control" id="endtime-input" asp-for="EndTime">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" for="date-input" asp-for="Date"></label>
            <div class="col-sm-4">
                <input class="form-control" id="date-input" asp-for="Date" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" for="info-input" asp-for="Info"></label>
            <div class="col-sm-4">
                <textarea rows="4" cols="50" type="text" class="form-control" id="info-input" asp-for="Info"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-1 col-sm-4">
                <button type="submit" class="btn btn-default" asp-action="Create">Spara</button>
                <a class="btn btn-default" asp-controller="Training" asp-action="Create">Ångra</a>
            </div>
        </div>
    </form>
</div>
<div class="panel-footer"></div>

