@using FloorBallOldBoysWEB.Controllers
@model EditTrainingViewModel

@{
    ViewBag.Title = "Edit";
   
}

<h1>Editera träning</h1>
<div>
    <form metod="post" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly"></div>

        <div>
            <label asp-for="Location"></label>
            <input asp-for="Location"/>
            <span asp-validation-for="Location"></span>
        </div>
        <div>
            <label asp-for="StartTime"></label>
            <input asp-for="StartTime"/>
            <span asp-validation-for="StartTime"></span>
        </div>
        <div>
            <label asp-for="EndTime"></label>
            <input asp-for="EndTime"/>
            <span asp-validation-for="EndTime"></span>
        </div>
        <div>
            <label asp-for="Date"></label>
            <input asp-for="Date" />
            <span asp-validation-for="EndTime"></span>
        </div>
        <div>
            <h4>Info</h4>
            <textarea rows="4" cols="50" asp-for="Info"></textarea>
            <span asp-validation-for="Info"></span>
        </div>
        <div>
            <input type="submit" value="Spara"/>
        </div>
    </form>
</div>


<div>
    <a asp-controller="@nameof(TrainingController).Replace("Controller","")" asp-action="@nameof(TrainingController.TodaysTrainings)">Home</a>
</div>
