@model TrainingsViewModel

@{
    ViewBag.Title = "Dagens träningar";

}


@if (!Model.TrainingsSummaryViewModels.Any())
{
    <div>
        Ingen träning idag
    </div>
}
else
{
    @Html.Partial("_TrainingSummary",Model)
}

