<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Style.css" rel="stylesheet" />

</head>
<body>

    @if (ViewBag.HideNavBar == null)
    {
        <div>
            @await Component.InvokeAsync("MenuBar")
        </div>
    }
    <div class="container">
        @if (ViewBag.ContentSpacingTop == null)
        {
            <div class="contentSpacingTop"></div>
        }

        <div>
            @RenderBody()
        </div>
        @if (ViewBag.CenterFooter == true)
        {
            <footer id="footer">
                @RenderSection("footer", required: false)
                @await Component.InvokeAsync("Messages")
            </footer>
        }
        else
        {
            <footer>
                @RenderSection("footer", required: false)
                @await Component.InvokeAsync("Messages")
            </footer>
        }

    </div>
</body>
</html>