<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Style.css" rel="stylesheet" />
</head>
<body>

    <div>
        @await Component.InvokeAsync("MenuBar")
    </div>

    <div class="container">
        <div style="padding-top: 100px">
            @RenderBody()
        </div>
        <footer>
            @RenderSection("footer", required: false)
            @await Component.InvokeAsync("Messages")
        </footer>
    </div>
</body>
</html>