<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <link href="~/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand"  asp-controller="Training" asp-action="TodaysTrainings" >Dagens träning</a>
            </div>
        </div>
        <div align="right" style="padding:0px 35px 15px 5px">
            @await Component.InvokeAsync("MenuBar")
        </div>
    </nav>
    <div class="container">
        @RenderBody()
        <footer>
            @RenderSection("footer", required: false)
            @await Component.InvokeAsync("Messages")
        </footer>
    </div>
</body>
</html>